body {
    padding-top: 50px;
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
}

.footer .container {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 5px;
}

label.error {
    color: red;
}